@import "tailwindcss";

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Light-Web.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular-Web.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Medium-Web.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #2a206a;
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-lg: 905px;
  --breakpoint-lgxl: 1100px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Graphik", Arial, Helvetica, sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Graphik", Arial, Helvetica, sans-serif;
}
